[Unit]
Description=Alert Monitor (Pikud HaOref)
After=network-online.target

[Service]
Type=simple
User=tomer
ExecStart=/usr/local/bin/alert
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
