[Unit]
Description=MJPG Streamer
After=network.target mjpg-alert.service

[Service]
Type=simple
KillMode=mixed
TimeoutStopSec=5
User=tomer
ExecStart=/usr/local/bin/mjpg-rotated.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
