[Unit]
Description=MJPG Streamer Web Control Panel
After=mjpg-streamer.service

[Service]
Type=simple
User=tomer
ExecStart=/usr/local/bin/mjpg-web
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
